/* src/App.css */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  color: blue;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 40px; /* Add margin here for the entire app */
}

.chart-container {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 40px; /* Add margin here for chart */
}
