.view {
  text-align: center;
  color: rgb(0, 24, 158);
  height: 65vh;
}

.view p {
  margin: 0;
}

.view p h2 {
  color: #0003cf;
}

.view p h3 {
  justify-content: center;
  margin: 0 auto;
  width: 400px;
  color: rgb(228, 228, 228);
  text-wrap: balance;
}

.view h2:first-of-type {
  animation: showup 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}
