.areyou {
  text-align: center;
}

.areyou p {
  margin-left: 250px;
  margin-right: 250px;
}

.values {
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.vcrd {
  color: #121169;
  width: 300px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
}

.vcrd h3 {
  color: #000fda;
}

.vcrd p {
  margin: 0 10px;
}

.val {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mv {
  color: #494949;
  width: 400px;
  height: 150px;
  background-color: rgb(230, 230, 230);
  overflow: hidden;
  margin: 20px;
}
.mv h3 {
  color: #000fda;
}
.mv p {
  color: #3f3f3f;
  text-align: center;
  font-weight: 600;
  margin: 0 20px;
}
