.gov {
  min-height: 100vh;
  min-width: 100%;
  text-align: center;
}

.gov h1 {
  font-weight: 800;
  font-size: 2rem;
}

.gove {
  display: flex;
  justify-content: center;
}

.dplcy {
  display: block;
  width: 800px;
}

.dplcy p {
  text-align: justify;
}
