.main {
  margin-top: auto;
  background-color: rgb(0, 0, 161);
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.foot {
  display: flex;
  justify-content: space-around;
}

.tact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
}

.tact ul {
  list-style-type: disc;
}
.tact a {
  text-decoration: none;
  color: #ffffff;
}

.social {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.social a {
  text-decoration: none;
  padding: 0.5rem;
  color: #ffffff;
}
